<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video page</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/responsive.css">
    <link rel="stylesheet" href="css/aboutpage.css">
    <link rel="stylesheet" href="css/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="images/channels4_profile.jpg" type="image/jpg">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
</head>

<body>
    {{>navbar}}

    <div class="title" id="cprogrem"> <br><br><br><br><br>
        <span style="color: blue; font-weight: bolder; padding-right: 15px;font-family: 'Work Sans', sans-serif;">Learn
            c language <span style="color: RED;font-family: 'Work Sans', sans-serif;">on Techi Support
            </span></span>
        <div class="shortdesc">
            <p style="color: black;">Learn your basic concepts to prepare for a career in<br>language development</p>
        </div>
    </div>
    <div class="title2">
        <span style="font-family: 'Tiro Gurmukhi', serif;">Start Programming with c language</span>
        <div class="shortdesc2">
            <p style="color: green; font-weight: bolder;">Show your creativity and thinking skill</p>
        </div>
    </div>
    <center>
        <p style="font-size: 1.6rem;">You can refer to following problems for practice</p>
    </center>
    <br><br>

    <!-- two side page -->
    <div class="container-fluid ">
        <div class="row ">
            <!-- to get the space form left and right -->
            <div class="col-xl-10  col-lg-10 col-md-12 col-11 mx-auto my-5">
                <div class="row gx-5 mx-sm-auto">
                    <!-- left side   -->
                    <div class="col-lg-8 col-md-11 col-11 mx-auto">
                        <div class="row gy-5 ">
                            <div class="col-12 card p-4 shadow blog_left__div">
                                <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                    <h1 class="text-uppercase">Basic C Programming</h1>
                                    <p class="blog_title"> <span class="font-weight-bold"> Easy Questions to </span>
                                        practice and improve thinking skill </p>
                                </div>
                                <figure class="right_side_img mb-5">
                                    <p>Required knowledge</p>
                                    <ul>
                                        <li>input/output</li>
                                        <li>Operator</li>
                                        <li>other topic</li>
                                    </ul>
                                    <p>List of C programs for practice </p>
                                    <ol>
                                        <li> <a href="#">Write a C programm to print "Hello World"</a></li>
                                        <li><a href="#">Write a C programm to enter two number and find sum </a></li>
                                        <li><a href="#">Write a C programm to find area of triangle</a></li>
                                        <li><a href="#">Write a C programm to find area of rectangle</a></li>
                                        <li><a href="#">Write a C programm to take input from user</a></li>
                                        <li><a href="#">Write a C programm to swap two numbers using three variables</a>
                                        </li>
                                        <li><a href="#">Write a C programm to swap two numbers without third
                                                variable</a></li>
                                        <li><a href="#">Write a C programm that perform all arithmetic operation</a>
                                        </li>
                                        <li> <a href="#">Write a C program to enter length in centimeter and convert it
                                                into meter and kilometer.</a>
                                        </li>
                                        <li><a href="#">Write a C program to enter temperature in Fahrenheit and convert
                                                to Celsius</a></li>
                                        <li><a href="#">Write a C program to convert days into years, weeks and
                                                days.</a></li>
                                        <li><a href="#">Write a C program to find power of any number x ^ y.</a></li>
                                        <li><a href="#">Write a C program to enter any number and calculate its square
                                                root.</a></li>
                                        <li><a href="#">Write a C program to enter two angles of a triangle and find the
                                                third angle.</a></li>
                                        <li><a href="#">Write a C program to enter P, T, R and calculate Simple
                                                Interest.</a></li>
                                        <li><a href="#">Write a C program to calculate area of an equilateral
                                                triangle.</a></li>
                                    </ol>
                                </figure>
                                
                            </div>
                              {{>Advertisement}}
                            <!-- intermediate topic  -->
                            <div class="col-12 card p-4 shadow blog_left__div">
                                <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                    <h1 class="text-uppercase">Intermediate C Programming</h1>
                                    <p class="blog_title"> <span class="font-weight-bold"> practice these question </span>
                                        to clear your concepts </p>
                                </div>
                                <figure class="right_side_img mb-5">
                                    <p>Required knowledge</p>
                                    <ul>
                                        <li>input/output</li>
                                        <li>Operator</li>
                                        <li>other topic</li>
                                    </ul>
                                    <ol>
                                        <li> <a href="#">Write a C programm to print "Hello World"</a></li>
                                        <li><a href="#">Write a C programm to enter two number and find sum </a></li>
                                        <li><a href="#">Write a C programm to find area of triangle</a></li>
                                        <li><a href="#">Write a C programm to find area of rectangle</a></li>
                                        <li><a href="#">Write a C programm to take input from user</a></li>
                                        <li><a href="#">Write a C programm to swap two numbers using three variables</a>
                                        </li>
                                        <li><a href="#">Write a C programm to swap two numbers without third
                                                variable</a></li>
                                        <li><a href="#">Write a C programm that perform all arithmetic operation</a>
                                        </li>
                                        <li> <a href="#">Write a C program to enter length in centimeter and convert it
                                                into meter and kilometer.</a>
                                        </li>
                                        <li><a href="#">Write a C program to enter temperature in Fahrenheit and convert
                                                to Celsius</a></li>
                                        <li><a href="#">Write a C program to convert days into years, weeks and
                                                days.</a></li>
                                        <li><a href="#">Write a C program to find power of any number x ^ y.</a></li>
                                        <li><a href="#">Write a C program to enter any number and calculate its square
                                                root.</a></li>
                                        <li><a href="#">Write a C program to enter two angles of a triangle and find the
                                                third angle.</a></li>
                                        <li><a href="#">Write a C program to enter P, T, R and calculate Simple
                                                Interest.</a></li>
                                        <li><a href="#">Write a C program to calculate area of an equilateral
                                                triangle.</a></li>
                                    </ol>
                                </figure>
                            </div>
                              {{>Advertisement}}
                            <!-- hard topic -->
                            <div class="col-12 card p-4 shadow blog_left__div">
                                <div class="d-flex justify-content-center align-items-center flex-column pt-3 pb-5 ">
                                    <h1 class="text-uppercase">Mics C Programming</h1>
                                    <p class="blog_title"> <span class="font-weight-bold"> practice these problems </span>
                                        to master c Programming </p>
                                </div>
                                <figure class="right_side_img mb-5">
                                    <p>Required knowledge</p>
                                    <ul>
                                        <li>input/output</li>
                                        <li>Operator</li>
                                        <li>other topic</li>
                                    </ul>
                                    <p>List of C programs for practice </p>
                                    <ol>
                                        <li> <a href="#">Write a C programm to print "Hello World"</a></li>
                                        <li><a href="#">Write a C programm to enter two number and find sum </a></li>
                                        <li><a href="#">Write a C programm to find area of triangle</a></li>
                                        <li><a href="#">Write a C programm to find area of rectangle</a></li>
                                        <li><a href="#">Write a C programm to take input from user</a></li>
                                        <li><a href="#">Write a C programm to swap two numbers using three variables</a>
                                        </li>
                                        <li><a href="#">Write a C programm to swap two numbers without third
                                                variable</a></li>
                                        <li><a href="#">Write a C programm that perform all arithmetic operation</a>
                                        </li>
                                        <li> <a href="#">Write a C program to enter length in centimeter and convert it
                                                into meter and kilometer.</a>
                                        </li>
                                        <li><a href="#">Write a C program to enter temperature in Fahrenheit and convert
                                                to Celsius</a></li>
                                        <li><a href="#">Write a C program to convert days into years, weeks and
                                                days.</a></li>
                                        <li><a href="#">Write a C program to find power of any number x ^ y.</a></li>
                                        <li><a href="#">Write a C program to enter any number and calculate its square
                                                root.</a></li>
                                        <li><a href="#">Write a C program to enter two angles of a triangle and find the
                                                third angle.</a></li>
                                        <li><a href="#">Write a C program to enter P, T, R and calculate Simple
                                                Interest.</a></li>
                                        <li><a href="#">Write a C program to calculate area of an equilateral
                                                triangle.</a></li>
                                    </ol>
                                </figure>
                            </div>
                        </div>
                    </div>
                    {{!-- right-part --}}
                    <div class="col-lg-3 col-md-7 col-11  justify-content-end m-lg-0 m-auto ">
                        <div class="row gy-5 left_div__blog">
                            <!--Guidence-->
                            <div class="col-12  about_me_div shadow">
                                <p>Why and How</p>
                                <p>For each problem firstly try to understand the pronlem.
                                    Then you have to jump to how and then to why. This is the simple way
                                    to build your logic for any question.

                                </p>
                            </div>
                            <!-- popular post -->
                            <div class=" popular_post ">
                                <div class="right_div__title py-4 pl-2 ">
                                    <h2>Most Viewed Questions</h2>
                                </div>
                                <div class="right_sub__div shadow">
                                    <div class="row ">
                                        <div class="col-3  popular_post__img1 py-2 pl-2">
                                        </div>
                                        <div class="col-9">
                                            <h3>question 1</h3>
                                            <p class="text-capitalize">name of question</p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-3  popular_post__img2 py-2 pl-2">
                                        </div>
                                        <div class="col-9">
                                            <h3>question 1 </h3>
                                            <p class="text-capitalize">name of question</p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-3  popular_post__img3 py-2 pl-2">
                                        </div>
                                        <div class="col-9">
                                            <h3>question 1</h3>
                                            <p class="text-capitalize">name of question</p>
                                        </div>
                                    </div>
                                    <div class="row ">
                                        <div class="col-3  popular_post__img4 py-2 pl-2">
                                        </div>
                                        <div class="col-9">
                                            <h3>S
                                                question 2
                                            </h3>
                                            <p class="text-capitalize">name of question</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- advertise -->
                            <div class=" right_div_post">
                                <div class="right_div__title py-4 pl-2 ">
                                    <h2>Advertise</h2>
                                </div>
                                <div class="right_sub__div ">
                                    <div class="adevetise_img bg-light shadow">
                                        <p>Ads goes here</p>
                                    </div>
                                </div>
                            </div>
                            <!-- tags -->
                            <div class=" right_div_post">
                                <div class="right_div__title py-4 pl-2 ">
                                    <h2>Tags</h2>
                                </div>
                                <div class="tags_main right_sub__div">
                                    <a href="" target="_blank"
                                        class="badge shadow text-capitalize"> html </a>
                                    <a href="#" class="badge shadow text-capitalize"> css </a>
                                    <a href="#" class="badge shadow text-capitalize"> js </a>
                                    <a href="#" class="badge shadow text-capitalize"> react </a>
                                    <a href="#" class="badge shadow text-capitalize"> vue </a>
                                    <a href="#" class="badge shadow text-capitalize"> php </a>
                                    <a href="#" class="badge shadow text-capitalize"> python </a>
                                    <a href="#" class="badge shadow text-capitalize"> kotlin </a>
                                    <a href="#" class="badge shadow text-capitalize"> c++ </a>
                                    <a href="#" class="badge shadow text-capitalize"> java </a>
                                </div>
                            </div>
                           
                            <!-- Follow Me -->
                            <div class=" right_div_post">
                                <div class="right_div__title py-4 pl-2 ">
                                    <h2>Follow Me</h2>
                                </div>
                                <div class="right_sub__div d-flex justify-content-around">
                                    <a href="#"> <i class="fab fa-facebook-square fa-3x"></i></a>
                                    <a href="https://www.instagram.com/vinodthapa55/" target="_thapa"> <i
                                            class="fab fa-3x fa-instagram"></i></a>
                                    <a href="#"> <i class="fab fa-3x fa-github-square"></i> </a>
                                    <a href="#"> <i class="fab fa-3x fa-twitter-square"></i></a>
                                    <a href="#"> <i class="fab fa-3x fa-youtube-square"></i> </a>
                                    <a href="#"> <i class="fab fa-3x fa-linkedin"></i></a>
                                </div>
                            </div>
                            <!-- Subscribe -->
                            <div class=" right_div_post">
                                <div class="right_div__title py-4 pl-2 ">
                                    <h2>Subscribe</h2>
                                </div>
                                <div class="right_sub__div">
                                    <form>
                                        <div class="mb-3">
                                            <label for="exampleFormControlInput1" class="form-label">Enter your e-mail
                                                below and get notified on the latest blog posts.</label>
                                            <input type="email" class="form-control mt-2" id="exampleFormControlInput1"
                                                placeholder="name@example.com">
                                        </div>
                                        <div class="col-12">
                                            <button class="subs_btn d-block" type="submit">Subscribe</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {{!-- c++ from here --}}
    <div class="title" id="cprogrem"> <br><br><br><br><br>
        <span style="color: blue; font-weight: bolder; padding-right: 15px;font-family: 'Work Sans', sans-serif;">Learn
            c++ language <span style="color: RED;font-family: 'Work Sans', sans-serif;">on Techi Support
            </span></span>
        <div class="shortdesc">
            <p style="color: black;">Learn your basic concepts on c++ to prepare for a career in<br>language development
            </p>
        </div>
    </div>
    <div class="title2">
        <span style="font-family: 'Tiro Gurmukhi', serif;">Start Programming with c++ language</span>
        <div class="shortdesc2">
            <p style="color: green; font-weight: bolder;">Show your creativity and uniqueness</p>
        </div>
    </div>
    <center>
        <p style="font-size: 1.6rem;">You can refer to the following sourece codes links </p>
    </center>

    <br><br><br>
    {{>bottom}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

</html>